body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

p {
    color: black;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
}

.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.event img {
    max-width: 600px;
    max-height: 600px;
    border-radius: 5px;
    float: left;
    
}

.event-content {
    flex: 1;
}

@media (max-width: 600px) {
    .event {
        flex-direction: column;
        text-align: center;
    }

    .event img {
        margin-right: 0;
        margin-bottom: 10px;
        float: left;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}